<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" type="image/png" href="./images/favicon.ico" />

    <title>Print-Q</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../css/narrow-jumbotron.css" rel="stylesheet">
    {{gmap.js}}
  </head>

  <body>

    <div class="container">
    	<div class='row ml-2'>
			<img class="img-fluid" src="images/printer-icon-48-202093.png" style="width:48px;height:48px;margin-top: 20px;margin-right: 10px;">
			<h1 class="display-3 font-weight-bold">Print-Q</h1>
		</div>
      <header class="header clearfix">
        <nav>
          <ul class="nav nav-tabs float-left">
            <li class="nav-item">
              <a class="nav-link" href="/">SEARCH <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/seeall">SEE ALL PRINTERS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/report">REPORT ISSUE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/settings">SETTINGS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">LOGOUT</a>
            </li>
          </ul>
        </nav>
      </header>

      <main role="main">
        <h1 class="display-5">See all printers</h1>
		{{gmap.html}}
	<!-- 
            <script>
		      function initMap() {
		        var uluru = {lat: 40.6942036, lng: -73.986579};
		        var map = new google.maps.Map(document.getElementById('map'), {
		          zoom: 16,
		          center: uluru
		        });
		        var marker = new google.maps.Marker({
		          position: uluru,
		          map: map
		        });
		      }
		    </script>
		    -->

    </div> <!-- /container -->
    {% for printer in printers%} 
    <p>{{printer}}</p>
    {% endfor %}

    <!--
        <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=initMap">
	</script> -->
  </body>
</html>
